// _top.scss

section {
    padding: 80px 0;

    &#main {
        padding: 0;
        box-shadow: 0 1px 6px rgba(0, 0, 0, .2);

        @include sp {
            height: auto;
            min-height: 0;
        }

        .container-fluid {
            padding: 0;
            background: url('../../images/bg-welcome.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            .row {
                margin: 0;

                .pr {
                    padding: 0;

                    .spbox {
                        height: 100vh;
                        padding-top: 20px;
                        // backdrop-filter: blur(6px);
                        animation-name: blur;
                        animation-duration: 3s;

                        @include sp {
                            img {
                                margin-left: auto;
                                margin-right: auto;
                                width: 40%;
                            }
                        }

                        .btnset {
                            width: 100%;
                            margin-top: 50px;
                            @include tab {
                                bottom: 23vh;
                            }

                            a {
                                display: block;
                                width: 90vw;
                                margin: auto;
                                margin-bottom: 20px;
                            }
                        }
                    }

                    @keyframes blur {
                        0% {
                            filter: blur(6px);
                        }

                        100% {
                            filter: blur(0);
                        }
                    }

                }
            }
        }
    }

    &#cast {
        background-image: url(../../images/bg-cast.png);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;

        p {
            strong {
                background-color: inherit !important;
                width: inherit;
            }
        }

        .btn {
            color: #fd7279;
            background-color: #fff;
            box-shadow: 0 4px 0px 0 #e0585e;
            border-radius: 10px;
            padding: 5px 20px;
            position: absolute;
            top: 0;
            right: 0;
            margin-right: 15px;
            transition: 1.0s;

            @include tab {
                position: inherit;
            }

            &:hover {
                background-color: #FD4479;
            }
        }

        div {
            &.grid {
                padding: 2vh 2vw;
                display: table;
                border-collapse: collapse;

                .card {
                    position: relative;
                    z-index: 1;
                    border: none;
                    border-radius: 20px;
                    background-color: #fff;
                    box-shadow: 0 5px 0px 0 #e0585e;
                    padding: 0;
                    overflow: hidden;
                    margin: 15px;
                    transition: .3s;

                    &:hover {
                        box-shadow: 0 10px 0px 0 #e0585e;

                        img {
                            opacity: .9;
                            animation: animationZoom1 2s ease-in-out forwards;

                            @keyframes animationZoom1 {
                                100% {
                                    transform: scale(1.05)
                                }
                            }
                        }
                    }

                    img {
                        width: 100%;
                        height: auto;
                    }

                    a {
                        &:hover {
                            background-color: #EFFFF9;
                            text-decoration: none;
                        }
                    }

                    figure {
                        text-align: center;
                        z-index: 1;
                        margin: 20px 0;
                        padding: 0;
                        overflow: hidden;
                        margin-left: auto;
                        margin-right: auto;

                        h3 {
                            color: #fd7279;
                            font-size: 1.5rem;
                            background-color: inherit;
                            margin-bottom: 0;
                        }

                        span {
                            display: block;

                            &.year {
                                color: #fd7279;
                                font-weight: bold;
                            }

                            &.score {
                                color: #272727;
                            }
                        }

                        &:hover {
                            img {
                                -webkit-transform: scale(0.9);
                                transform: scale(0.9);
                            }
                        }
                    }

                    .icon {
                        display: block;
                    }

                    .card-text {
                        span {
                            display: block;
                            margin-top: 10px;
                        }
                    }
                }

                .btn {
                    border-radius: 0;
                    padding: 10px 20px;
                    min-height: 70px;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #333000;
                    background-image: url('../../images/bg-btn-arrow_01.png');
                    background-repeat: no-repeat;
                    background-position: 90% center;
                    transition: 1.0s;

                    &:hover {
                        background-color: #f5ac3c;
                        color: #fff;
                    }

                    &.pnk {
                        background-image: url('../../images/bg-btn-arrow_02.png');

                        &:hover {
                            background-color: #f598a0;
                        }
                    }
                }

                &::before,
                &::after {
                    position: absolute;
                    content: "";
                    display: block;
                }

                &::before {
                    top: -1px;
                    bottom: -1px;
                    left: 30px;
                    right: 30px;
                }

                &::after {
                    top: 30px;
                    bottom: 30px;
                    left: -1px;
                    right: -1px;
                }
            }
        }
    }

    .btnset {
        display: flex;
        flex-direction: column;
    }
}
